* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
}
div{
  display: inline-block;
}

img#clear{
  display: none;
}


.canvas-container{
  align-items: center;
  display: flex;
  justify-content: center;

  border:2px solid rgb(36, 56, 73);
  margin: 10px;

  padding: 10px;

  background:
  linear-gradient(90deg, #fff 10px, transparent 1%) center,
  linear-gradient(#fff 10px, transparent 1%) center,  #bbb;
background-size: 11px 11px;
}

canvas#temp{
  display: none;
}

div#settings{
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  right: 0;
  width:286px;
  float: right;
  padding: 10px;
  background: #eeeeee;
}
input[type="number"], input[type="color"] {
  width:30px;
}

select {
  /* General styling */
  height: 30px;
  width: 100%;
  border-radius: 0;
  padding-left: 10px;
  margin-bottom: 10px;

  font-size: 15pt;
}

/* MODE SWITCHES RELATED */

.switch {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 34px;
}

.mode-dependent{
    display:none;
    padding:5px;
    background:#dce9f3;
}

.switch input {display:none;}

.slider {
  font-size:90%;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 40px;
  padding-top: 8px;
  background-color: #ccc;  
  
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  color:#666;
  -webkit-transform: translateX(200px);
  -ms-transform: translateX(200px);
  transform: translateX(200px);
  opacity:0;
}


input:checked + .slider {
  color:white;
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  opacity:1;
  
}


.chord-mode-button  {
    background-color: #2196F3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/*ARROW RELATED*/


.rangeslidecontainer {
    width: 100%;
}

.rangeslider {
    -webkit-appearance: none;
    width: 100%;
    height: 30px;
    background: #b3cad1;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.rangeslider:hover {
    opacity: 1;
}

.rangeslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background: #2196F3;
    cursor: pointer;
}

.rangeslider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #2196F3;
    cursor: pointer;
}

button {
    border: 2px solid #2196F3;
    background-color: white;
    color: #2196F3;
    width: 100%;
    padding: 5px 10px;
    font-size: 26px;
    cursor: pointer;
    margin-bottom: 5px;
}

button:hover {
    background-color: #2196F3;
    color: white;
    transition: .4s;
}

.hint{
    display:block;
    font-size:70%;
    color:darkgray;
}

input[type="text"]{
    font-size:20px;
    width:100%;
    margin-bottom:5px;
    display: block;

}


.validation{
    display:none;
    color:red;
    font-weight:bold;
    margin:10px;
    font-size:20px;
}


.colorsample {
    display: inline-block;
    width: 20px;
    margin: 2px;
    background: black;
    height: 20px;
}

div.legends > div {
    font-size: 10pt;
    background: #FFF3E0;
    border: 1px solid gray;
    padding: 10px;
}