* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
}
div{
  display: inline-block;
}
div.container{
  margin-left: calc(50% - 400px);
  height: 750px;
  width:800px;
  border:6px solid black;
}
img#clear{
  display: none;
}
div#kkk{
  width: 600px;
  height: 600px;
}
div#kkk >  canvas{
  width: 600px;
  height: 600px;
}
canvas#temp{
  display: none;
}

div#settings{
  width:186px;
  height:746px;
  float: right;
  border-left:4px solid black;
}
input[type="number"], input[type="color"] {
  width:30px;
}

/* MODE SWITCHES RELATED */

.switch {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 34px;
}

.mode-dependent{
    display:none;
    padding:5px;
    background:#dce9f3;
}

.switch input {display:none;}

.slider {
  font-size:90%;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 40px;
  padding-top: 8px;
  background-color: #ccc;  
  
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  color:#666;
  -webkit-transform: translateX(200px);
  -ms-transform: translateX(200px);
  transform: translateX(200px);
  opacity:0;
}


input:checked + .slider {
  color:white;
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  opacity:1;
  
}


.chord-mode-button  {
    background-color: #2196F3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/*ARROW RELATED*/


.rangeslidecontainer {
    width: 100%;
}

.rangeslider {
    -webkit-appearance: none;
    width: 100%;
    height: 30px;
    background: #b3cad1;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.rangeslider:hover {
    opacity: 1;
}

.rangeslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background: #2196F3;
    cursor: pointer;
}

.rangeslider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #2196F3;
    cursor: pointer;
}

button {
    border: 2px solid #2196F3;
    background-color: white;
    color: #2196F3;
    width: 100%;
    padding: 5px 10px;
    font-size: 26px;
    cursor: pointer;
    margin-bottom: 5px;
}

button:hover {
    background-color: #2196F3;
    color: white;
    transition: .4s;
}

.hint{
    display:block;
    font-size:70%;
    color:darkgray;
}